/*font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

@font-face {
    font-family: Alexandria;
    src: url(fonts/Alexandria.ttf);
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato.ttf);
}

@font-face {
    font-family: Axis;
    src: url(fonts/Axis.otf);
}

@font-face {
    font-family: Grotesk;
    src: url(fonts/HKGrotesk-Regular.otf);
    font-weight: Regular;
}

@font-face {
    font-family: Grotesk;
    src: url(fonts/HKGrotesk-Light.otf);
    font-weight: Light;
}

.headingContainer {
    margin: 25px 100px 
}

.heading {
    font-family: Axis, sans-serif;
    font-size: 36px;
}

.introParaContainer {
    margin: 40px 10% 10% 
}



.introPara {
    font-family: Grotesk, sans-serif;
    font-size: 24px;
    font-weight: Regular;
}

.projectbox {
    border-color: #D3D3D3;
    border-style: solid;
    border-width: 0.5px;
}
.checkbg {
    background-color: #D3D3D3;
    height: 200px;
}

.checkwbg {
    background-color: white;
    height: 200px;
}

.checkxbg {
    background-color: #4F474A;
    height: 200px;
}


img.inact:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
} 

img.inact{
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
}

.homebutton {
    position: fixed;
    top: 30px;
    left: 20px;
    z-index:1; 
}

.social a{
  color: gray;
}
.social a:link {
  color: gray;
}

.social a:hover {
  color: black;
}

.social a:active {
  color: black;
}