/*font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

@font-face {
    font-family: Alexandria;
    src: url(fonts/Alexandria.ttf);
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato.ttf);
}

@font-face {
    font-family: Axis;
    src: url(fonts/Axis.otf);
}

@font-face {
    font-family: Grotesk;
    src: url(fonts/HKGrotesk-Regular.otf);
    font-weight: Regular;
}

@font-face {
    font-family: Grotesk;
    src: url(fonts/HKGrotesk-Light.otf);
    font-weight: Light;
}

.headingContainer {
    margin: 25px 100px 
}

.heading {
    font-family: Axis, sans-serif;
    font-size: 36px;
}

.introParaContainer {
    margin: 40px 120px 120px 
}

.introPara {
    font-family: Grotesk, sans-serif;
    font-size: 24px;
    font-weight: Regular;
}

.progressbar {
    margin: 90px 0px;
    position: relative; 
    top: 0; 
    left: 0; 
}

.dailyUi {
    position: absolute; 
    top: 30%; 
    left: 50%; 
}

