/*font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Source Serif Pro', serif;*/

h1 {
    font-family: 'Montserrat', sans-serif;
}