.fixed-bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: auto;
}

.fixed-bg.bg {
  background-image: url("../img/musify/bg.png");
}

.titleMusic {
    font-family: 'Lobster', cursive;
    font-size: 72px;
    margin-top: 50px;
}

.caption {
    font-family: Grotesk, sans-serif;
    font-size: 14px;
    font-weight: Regular;
}

.imgLeft {
    float: left;
    margin: 0 5% 0 0%;
}

.imgRight {
    float: right;
    margin: 0 0 0 5%;
}

.shadow {
    box-shadow: 1px 1px 10px #888888;
}
