.photoTitle {
    font-family: 'Pacifico', cursive;    
    font-size: 60px;
    margin-top: 30px;
}

.fixed-bg {
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: auto;
}

.fixed-bg.bg {
  background-image: url("../img/photography/bg.png");
}